<template>
    <div class="converter__container">
        <CryptoInput :loading="fetchingData" @focused="primaryFocused=$event" :cryptoData.sync="cryptoData.primary">
        </CryptoInput>
        <button class="converter__swap_button" @click="swap()"><span>↔</span></button>
        <CryptoInput :loading="fetchingData" @focused="secondaryFocused=$event" :cryptoData.sync="cryptoData.secondary">
        </CryptoInput>
        <div class="converter__chart">
            <span>{{`${cryptoData.primary.currency} / ${cryptoData.secondary.currency}`}}</span>
            <CryptoGraph :chartData="chartData" :chartConfig="chartConfig"></CryptoGraph>
        </div> 
    </div>
</template>

<script>

import CryptoInput from './CryptoInput.vue'
import CryptoGraph from './CryptoGraph.vue'
import { fetchHistoricalData, fetchAllAssets, fetchRate } from '../api'

export default {
    name: 'Converter',
    components: {
        CryptoInput,CryptoGraph
    },
    props: {
        toFixed: {
            type: Number,
            default: 10
        }
    },
    data() {
        return {
            cryptoData: {
                primary: {
                    amount: '',
                    currency: 'BTC',
                    primary: true
                },
                secondary: {
                    amount: '',
                    currency: 'USD',
                    primary: false
                }
            },
            chartData: null,
            primaryFocused: true,
            secondaryFocused: false,
            fetchingData: false,
            chartConfig: {
                width: 300,
                height: 100,
                limit: 40
            },
            rate: 0,
        }
    },
    methods: {
        fetchAssets() {
            this.$store.dispatch("FETCH_ALL_ASSETS")
        },
        swap() {
            let buffer = this.cryptoData.secondary
            this.cryptoData.secondary = this.cryptoData.primary
            this.cryptoData.primary = buffer
        },
        recalculate() {
            this.fetchingData = true
            fetchRate(this.cryptoData.primary.currency, 
                this.cryptoData.secondary.currency)
                .then(rate=>{
                    this.rate = rate
                    this.cryptoData.secondary.amount = 
                        this.cryptoData.primary.amount * (this.rate || 1)
                    this.fetchingData = false
                    this.updateChart()                    
                })
                .catch()       
        },
        updateChart() {
            fetchHistoricalData(this.cryptoData.primary.currency, 
                            this.cryptoData.secondary.currency, this.chartConfig.limit)
                            .then(result=>{
                                if (result.Data) {
                                    let sortedData = result.Data.sort((a,b)=>{return a.high<b.high ? 1 : -1})
                                    let maxValue = sortedData[0].high
                                    this.chartData = result.Data.map(item=>item.close/maxValue)
                                }
                            })            
        },       
    },
    watch: {
        'cryptoData.primary.currency': {
            handler: function(newCurrency) {
                if (newCurrency !== null && newCurrency !== '') this.recalculate()
            },
            deep: true
        },
        'cryptoData.primary.amount': {
            handler: function(newAmount) {
                if (!this.secondaryFocused) this.cryptoData.secondary.amount = newAmount * (this.rate || 1)                
            },
            deep: true
        },
        'cryptoData.secondary.currency': {
            handler: function(newCurrency) {
                if (newCurrency !== null && newCurrency !== '') this.recalculate()

            },
            deep: true            
        },
        'cryptoData.secondary.amount': {
            handler: function(newAmount) {
                if (!this.primaryFocused) 
                    this.cryptoData.primary.amount = (newAmount / (this.rate || 1))

            },
            deep: true            
        }
    },
    asyncData({store, route}) {
        return store.dispatch("FETCH_ALL_ASSETS")
    },
    beforeMount () {
        this.fetchAssets()
    },    
    mounted () {
        this.recalculate()
    },
    computed: {
    }
  
}
</script>

<style lang="stylus">

button
    &:hover,&:focus
        outline none
.converter
    &__container
        margin 10px
        display grid
        grid-template-columns 1fr 50px 1fr
        grid-template-rows 100px auto
        justify-items center
        @media screen and (max-width: 414px)
            grid-auto-flow row
            grid-template-columns 100%
            grid-template-rows repeat(3,40px) auto
        & > *
            width auto
    &__chart
        margin 10px
        grid-area 2/1/3/4
        @media screen and (max-width: 414px)    
            grid-area 4/1/5/2    
    &__swap_button
        background white
        border-radius 10px
        height max-content
        padding 6px
        
</style>


