<template>
    <div class="cryptoInput__container">
        <div class="search-bar">
            <input type="text" ref="cryptoInput" v-on:keyup.enter="cryptoEnter" v-on:keydown.space.prevent="cryptoEnter" v-on:focus="$event.target.select();$emit('focused', true)" v-on:blur="$emit('focused', false)" :placeholder="currencyMode ? '⌕ search cryptocurrency' : `0`"  class="search-bar__input" :value="cryptoData[currencyMode ? 'currency' : 'amount']" v-on:input="cryptoInput"/>
            <span class="search-bar__hint" v-if="!currencyMode">Use Space, Enter and letters to switch mode</span>
            <div class="currency-switcher" v-if="!currencyMode" v-on:click="cryptoData.currency = ''; currencyMode = true; $refs.cryptoInput.focus()">
                <span class="currency-switcher__title">{{ cryptoData.currency }}</span>
            </div>
            <div class="amount-hint" v-if="currencyMode">
                <span class="amount-hint__value">
                    <span v-if="loading && !cryptoData.primary">...</span>
                    <span v-else>={{ cryptoData.amount | fixed}} </span>
                </span>
            </div>            
        </div>  
        <div class="suggest-bar__container" v-if="currencyMode">
            <div class="suggest-bar" v-on:scroll="scrollAssets">
                <div ref="assetsList">
                    <transition-group name="cryptoAssets" tag="ul" class="suggest-bar__list">
                        <li v-for="item in filteredAssets" 
                                :style="{'color': (assets[item] && !!assets[item].isCrypto ? 'black' : '#a4a' )}"
                                v-bind:key="item" 
                                v-show="item.match(cryptoData.currency)"
                                v-on:click="currencyClick(item) ">
                            <span>{{ item }}</span>
                            <span>{{ assets[item].CoinName }}</span>
                        </li>
                    </transition-group>
                </div>
            </div>
            <span class="suggest-bar__close_button" v-on:click="currencyMode = false">&times;</span>
        </div>
    </div>
</template>

<script>

const onlyDigits = /[^(\d+\.?\d+)]/ig
const digitsAndCharsPattern = /[^(\d|a-zA-Z|\s|(\d+\w+)|\.)]/i

export default {
    name: 'CryptoInput',
    props: {
        cryptoData: Object,
        loading: false
    },
    data() {
        return {
            currencyMode: false,
            prevCurrency: this.cryptoData.currency,
            listMoreCounter: 1
        }
    },
    methods: {
        // Input event
        cryptoInput(e) {
            if (!this.currencyMode && e.target.value.match(/[a-zA-Z]/i)) 
                {   
                    this.currencyMode = true
                    this.cryptoData.currency = e.target.value.split('').pop().toUpperCase()
                } else {
                    this.cryptoData[this.currencyMode ? 'currency' : 'amount'] = 
                        e.target.value.replace(this.currencyMode ? digitsAndCharsPattern : onlyDigits,'').toUpperCase()

                }
            this.$emit('update:cryptoData', this.cryptoData)
            this.$forceUpdate()
        },
        // Enter key event
        cryptoEnter(event) {
            if (this.currencyMode) {
                let exactMatch = this.assets[this.cryptoData.currency]
                this.cryptoData.currency = this.prevCurrency = 
                    exactMatch && exactMatch.CoinName || 
                        Object.keys(this.assets).find(item=>
                            item === item.startsWith(this.cryptoData.currency)) 
                                || this.prevCurrency
            } else {
                this.cryptoData.currency = ''
            }

            this.currencyMode = !this.currencyMode

            event.target.select()
        },
        currencyClick(item) {
            this.prevCurrency = this.cryptoData.currency = item
            this.currencyMode = false
        },
        scrollAssets(e) {
            let percent = e.target.scrollTop / 
                            (this.$refs.assetsList.clientHeight
                            -e.target.clientHeight)
            
            if (percent===1) {
                this.listMoreCounter += 1
                this.$forceUpdate()
            }
        }    
    },
    watch: {
        currencyMode(entered) {
            if (entered) {
                this.listMoreCounter = 1
                this.currencyHistory = this.cryptoData.currency 
            }
        }
    },
    computed: {
        assets() { 
            return (this.$store && (this.$store.state.assets))
        },
        filteredAssets() {
            let assetsList = Object.keys(this.assets)

            let list = !!this.cryptoData.currency && 
                Object.keys(this.assets).filter(
                    item=>item.startsWith(
                        this.cryptoData.currency))
                        .sort((a,b)=>{return a>b ? 1 : -1}) || assetsList.sort((a,b)=>{return a>b ? 1 : -1}) 
            return list.length > 20*this.listMoreCounter ? 
                list.splice(20*(this.listMoreCounter-1), 20*this.listMoreCounter) : list
        }
    }
  
}
</script>

<style lang="stylus">

$width = 400px
$height = 200px

.cryptoInput__container
    width 100%

.search-bar
    border 0
    font-size 0.8rem
    border-radius 4rem
    width 100%
    max-width $width
    background white
    display inline-flex
    position relative
    &__input
        margin 0 0 3px 10px
        background none
        color grey
        font-family 'monospace'
        border 0
        width calc(100% - 90px)
        padding 5px
        font-size .8rem
        font-weight light
        text-transform uppercase
        position relative
        &:focus,&:active
            outline none             
    &__hint
        @media screen and (max-width: 414px)
            display none
        display block
        position absolute
        top 32px
        left 20px
        font-size 0.6rem
        color #bbb     

.currency-switcher
    background #555
    min-width min-content
    transition all 0.8s
    overflow hidden
    border-radius: 20px;
    position: absolute;
    right: 0
    top: 0
    height 100%
    display flex
    justify-content center
    align-items center   
    cursor pointer
    padding 0px 10px
    &__title
        color white
        user-select none
        font-weight 200
        letter-spacing 2px

.amount-hint
    background white
    min-width 70px
    transition all 0.8s
    overflow hidden
    border-radius: 20px;
    position: absolute;
    right: 0
    top: 0
    height 100%
    display flex
    justify-content center
    align-items center
    &__value        
        color black
        font-weight 200
        letter-spacing 2px 
        padding 0.4rem

.suggest-bar
    z-index 9999
    &__container
        position relative
    max-width $width
    max-height $height
    background #fff
    position relative
    border-radius 4px 0px 0px 4px
    margin-top 4px
    // box-shadow 2px 3px  
    display grid
    grid-template-columns 100%
    grid-template-rows minmax(100px, auto)
    justify-content center
    overflow-y scroll
    overflow-x hidden
    &::-webkit-scrollbar 
        width .5em
    &::-webkit-scrollbar-track 
        -webkit-box-shadow inset 0 0 2px rgba(0,0,0,0.3)
    &::-webkit-scrollbar-thumb 
        background-color darkgrey
        outline 1px solid slategrey    
    &__close_button
        position absolute
        right 10px
        top 0
        padding 3px
        font-size 0.7rem
        cursor pointer

    > *
        width 100%
    &__list
        list-style none
        display grid
        grid-template-columns repeat(auto-fit, minmax(60px,100px))
        grid-gap 0px
        padding 0
        justify-content left
        justify-items left
        li
            padding 10px
            margin 5px
            background none
            // border 1px solid black
            transition all .2s
            cursor pointer
            overflow hidden
            width min-content
            > *
                color black
                display block
            &:focus
                border none
                background white
                color black !important
            &:hover
                border none
                background black
                span
                    color white !important
            img 
                max-width 20px
            span:nth-child(2)
                font-size 0.6rem
                margin-top 0.2rem

.cryptoAssets-enter-active, .cryptoAssets-leave-active {
    transition: opacity .1s
    transform translateX(10px)
}
.cryptoAssets-enter, .cryptoAssets-leave-to 
    opacity: 0

.cryptoAsset-move 
    transition: opacity .1s;


</style>


