<template>
    <canvas id="converterChart" style="width:100%;" :height="chartConfig.height">
    </canvas>
</template>

<script>
export default {
  name: 'CryptoGraph',
  props: [
      'chartData', 'chartConfig'
  ],
  mounted() {
        
  },
  watch: {
      chartData(newData) {
        var canvas = document.getElementById('converterChart');
        canvas.width = this.chartConfig.width
        canvas.height = this.chartConfig.height
        if (canvas.getContext){
            var ctx = canvas.getContext('2d');
            ctx.beginPath();              
            ctx.moveTo(0,0)
            ctx.lineTo(0,this.chartConfig.height)
            ctx.lineTo(this.chartConfig.width,this.chartConfig.height)
            ctx.stroke();              
            var prevPoint = [0, this.chartConfig.height*(1-this.chartData[0])]
            var ratio = Math.ceil(this.chartConfig.limit / this.chartConfig.width)
            var step = this.chartConfig.width/this.chartConfig.limit
            for (let i = 0; i<this.chartConfig.limit; i=i+ratio) {
                let pY = this.chartConfig.height*(1-this.chartData[i])
                ctx.beginPath();
                ctx.strokeStyle = 'blue';                                                       
                ctx.moveTo(prevPoint[0], prevPoint[1]);
                ctx.lineTo(i*step,pY);
                ctx.stroke();
                prevPoint = [i*step, pY]
            }
        }     
        this.$forceUpdate()     
      }
  }

}
</script>

